body {

    background-color: lightgray !important;
}

.container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
    margin: 0;

}

.main {
    text-align: center;
    background-color: white;
    padding: 35px;
    width: 50%;

}

.form {
    display: none;
}

/* .head {
    display: none;
    justify-content: space-between;
    gap: 30px;
    background: #f8f9fa;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
} */

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background: #f8f9fa; */
    padding: 10px;
    margin: 2px 0;
    /* border-radius: 8px; */
    font-size: 15px;
    border-bottom: 1px solid black;
}

div.balance {
    /* background-color: #835fff !important; */
    margin: 0 auto;
    border-radius: 18px;
    color: black;

}

.income {
    border-radius: 15px;
    background-color: #f8f8f8;
    width: 48% !important;
    padding: 15px 0;
}

.Expense {
    background-color: #ffedec;
    border-radius: 15px;
    width: 48% !important;
    padding: 15px 0;
}

form{
    display: flex !important;
    justify-content: center;

}

label{
    font-weight: bold;
    margin-bottom: 8px;
}

input[type=text],  
input[type=number],
select {
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    border-radius: 5px !important;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 20px;
    
}
/* .line>p,
.head>p {
    width: 30%;
    text-align: center;

} */

.activity {
    display: flex;
    justify-content: space-around;
}



/* SignUp */

button {
    background-color: #835fff !important;

}

button .link {
    text-decoration: none;
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: center; 
}
th{
    background: #000;
    color: #fff;
}

